

html {
    background-color: whitesmoke;
}

body{
    font-family:"Times New Roman", Times, serif;
    background-color: #c2a3d1;
    margin: 20px auto;
    width: 800px;
    text-align: center;
    box-shadow: 1px 1px 4px;
  }

img {
    height: auto;
    width: 400px;
}

.gray {
    background-color: lightgrey;
}

.Yellow{
    background-color: yellowgreen;

}
#list {
    text-align: center;
    display: flexbox;
    max-width: 400px;
    margin: 20px auto;
    list-style-type: none;

}

#Descript {
    font-weight: bold;
    
}
.Red {
    background-color: lightcoral;
    margin: 0;
}

.steps {
    background-color: rgb(200, 180, 219);
    padding: 16px 32px;
    margin: 8px 8px 16px 8px;
}
